<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="TddBuddy.CleanArchitecture.Domain.DotNet" version="3.0.0" targetFramework="net452" />
  <package id="TddBuddy.DateTimeExtensions.DotNet" version="1.0.0" targetFramework="net452" />
</packages>